.button {
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top:25px;
  color:#fff;
  background-color: #4d36fd;
  border:0;
  line-height: 1.5;
  padding:9px 20px;
  border-radius: 0;
  min-height: 35px;
  text-align: center;
}

.button:hover{
  text-decoration: none;
  background-color: #3a22fa;
}