.input {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 1.5rem;
  }
.input-field {
  border: 2px solid #cdd4e0;
  background-color: #fff;
  width: 100%;
  padding:5px 10px;
  font: inherit;
  font-size: 0.8rem;
  color: #1c273c;
}
.input-field:focus {
  outline: none;
  border:2px solid #9197a0;
}
  .input-label {
    color: #7987a1;
    transition: 0.25s ease;
  }

