*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  padding: 0 2rem;
  margin:0;
  min-width: 100vw;
}

#root {
  display: flex;
  min-height: 100vh;
}