.card-wrapper{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto','sans-serif';
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:30px 35px;
  width: 360px;
 border:1px solid #cdd4e0;
  background-color: rgba(255,255,255,0.5);
}

.children {
  justify-content: center;
}

.card-logo {
  font-weight: 700;
font-size: 28px;
font-family: 'Poppins', sans-serif;
text-transform: lowercase;
color: #5b47fb;
letter-spacing: -1px;
display: flex;
align-items: center;
position: relative;
top: -2px;
}

.card-header h2 {
  font-weight: 500;
color: #5b47fb;
letter-spacing: -1px;
font-size: 1.75rem;
margin-bottom: 0.5rem;
line-height: 1.2;
}
.card-header h4{
  font-weight: 400;
  color: #1c273c;
  margin-bottom: 25px;
  font-size:1.3resm;
  line-height: 1.2;
}
.card-footer{
  margin-top:3rem;
}
.card-footer p {
  margin-bottom: 5px;
  color: #7987a1;
  font-size: 0.9rem;
}
.card-footer .card-route {
  text-decoration: none;
background-color: transparent;
color: #1c273c;
font-weight: 700;
}
.card-footer .card-route:hover {
  color:#3366ff
}